@using Lab11.Models;
@model CalcModel;


<div style="margin-left: 50px">
    <h1>AcessServiceDirectly</h1>

    <p style="margin-bottom: -5px"><strong>Rand Value First: @Model.A</strong></p>
    <p><strong>Rand Value Second: @Model.B</strong></p>

    <p style="margin-bottom: -5px"><strong>Add</strong></p>
    <p>@Model.A + @Model.B = @Model.Sum</p>

    <p style="margin-bottom: -5px"><strong>Sub:</strong></p>
    <p>@Model.A - @Model.B = @Model.Sum</p>

    <p style="margin-bottom: -5px"><strong>Mult:</strong></p>
    <p>@Model.A * @Model.B = @Model.Sum</p>

    <p style="margin-bottom: -5px"><strong>Div:</strong></p>
    <p>@Model.A / @Model.B = @Model.Sum</p>

</div>



